
GigyaSwift/Global/.DS_Store

example/BitsBytes/.DS_Store

example/BitsBytes/Assets.xcassets/.DS_Store

example/.DS_Store

example/GoogleService-Info.plist

example/ExampleApp.zip

example/Podfile.lock

example/BitsBytes/Preview Content/.DS_Store

example/BitsBytes/UI/.DS_Store

example/BitsBytes/UI/Screens/.DS_Store

example/Pods/
GigyaE2ETestsApp/GigyaE2ETestsApp.xcodeproj/xcuserdata/tlfd.xcuserdatad/xcschemes/xcschememanagement.plist
GigyaNss/GigyaNss.xcodeproj/xcuserdata/tlfd.xcuserdatad/xcschemes/xcschememanagement.plist
GigyaSwift.xcodeproj/project.xcworkspace/xcuserdata/tlfd.xcuserdatad/UserInterfaceState.xcuserstate
GigyaSwift.xcodeproj/xcuserdata/tlfd.xcuserdatad/xcschemes/xcschememanagement.plist
GigyaSwift.xcworkspace/xcuserdata/tlfd.xcuserdatad/UserInterfaceState.xcuserstate
GigyaTfa/GigyaTfa.xcodeproj/xcuserdata/tlfd.xcuserdatad/xcschemes/xcschememanagement.plist
example/BitsBytes.xcworkspace/xcuserdata/tlfd.xcuserdatad/UserInterfaceState.xcuserstate
GigyaAuth/GigyaAuth.xcodeproj/xcuserdata/tlfd.xcuserdatad/xcschemes/xcschememanagement.plist
