<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>977811956095-40bcfgjseoeocsl9l3gg3qkab2c4i71p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZadGn82fSsShPnwZVcOcjSoGoHoWCpZY</string>
	<key>GCM_SENDER_ID</key>
	<string>977811956095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gigya.example.bitsbytes</string>
	<key>PROJECT_ID</key>
	<string>gigya-sdk-v2-1546766892216</string>
	<key>STORAGE_BUCKET</key>
	<string>gigya-sdk-v2-1546766892216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977811956095:ios:60b1c77b3e49d673817a4a</string>
	<key>DATABASE_URL</key>
	<string>https://gigya-sdk-v2-1546766892216.firebaseio.com</string>
</dict>
</plist>