<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb#FACEBOOK_APPID#</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>#GOOGLE_CLIENT_ID_REVERSED#</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>#FACEBOOK_APPID#</string>
	<key>FacebookClientToken</key>
	<string>#FACEBOOK_CLIENT_TOKEN#</string>
	<key>FacebookDisplayName</key>
	<string>BitsBytes</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GigyaApiDomain</key>
	<string>us1.gigya.com</string>
	<key>GigyaApiKey</key>
	<string>4_S8VHbHlOBdJrX8CRYjIbdw</string>
	<key>GoogleClientID</key>
	<string>#GOOGLE_CLIENT_ID#</string>
	<key>GoogleServerClientID</key>
	<string>#GOOGLE_SERVER_ID#</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>lineauth</string>
		<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>fb-messenger-share-api</string>
		<string>fbshareextension</string>
		<string>lineauth2</string>
	</array>
</dict>
</plist>
