name: Example app - Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    name: Build Example App and Upload to SueceLabs
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'
      - name: Checkout
        uses: actions/checkout@v4
      - name: Bundle Update
        run: gem install bundler:2.5.23
      - name: Pod version
        run: pod --version
      - name: Pod install
        working-directory: ./example
        run: pod install --repo-update
      - name: Pod fix
        working-directory: ./example/Pods/Pods.xcodeproj
        run: sed -i -e 's/10.0/13.0/g' project.pbxproj
      - name: Inject keys
        working-directory: ./example/BitsBytes
        run: |
          sed -i -e 's/#GIGYA_API_KEY#/${{ secrets.GIGYA_API_KEY }}/g' Info.plist 
          sed -i -e 's/#GOOGLE_CLIENT_ID#/${{ secrets.GOOGLE_CLIENT_ID }}/g' Info.plist 
          sed -i -e 's/#GOOGLE_CLIENT_ID_REVERSED#/${{ secrets.GOOGLE_CLIENT_ID_REVERSED }}/g' Info.plist 
          sed -i -e 's/#GOOGLE_SERVER_ID#/${{ secrets.GOOGLE_SERVER_ID }}/g' Info.plist 
          sed -i -e 's/#FACEBOOK_APPID#/${{ secrets.FACEBOOK_APPID }}/g' Info.plist 
          sed -i -e 's/#FACEBOOK_CLIENT_TOKEN#/${{ secrets.FACEBOOK_CLIENT_TOKEN }}/g' Info.plist      
      - name: GoogleService keys
        working-directory: ./example/BitsBytes
        run: |
          sed -i -e 's/#ANDROID_CLIENT_ID#/${{ secrets.ANDROID_CLIENT_ID }}/g' GoogleService-Info.plist 
          sed -i -e 's/#API_KEY#/${{ secrets.API_KEY }}/g' GoogleService-Info.plist 
          sed -i -e 's/#GCM_SENDER_ID#/${{ secrets.GCM_SENDER_ID }}/g' GoogleService-Info.plist 
          sed -i -e 's/#GOOGLE_APP_ID#/${{ secrets.GOOGLE_APP_ID }}/g' GoogleService-Info.plist 
          sed -i '' "s|#DATABASE_URL#|${{ secrets.DATABASE_URL }}|g" GoogleService-Info.plist
          
      - name: Available devices
        working-directory: ./example/BitsBytes
        run: xcrun xctrace list devices
        
      - name: Build
        working-directory: ./example
        run: |
          DEVICE_ID=$(xcrun xctrace list devices | grep "iPhone" | grep "18.5" | head -1 | sed -n 's/.*(\([A-F0-9-]*\)).*/\1/p');
          xcodebuild \
            ARCHS=arm64 \
            clean build \
            -workspace BitsBytes.xcworkspace \
            -scheme BitsBytes \
            -derivedDataPath './build' \
            -sdk iphonesimulator \
            -destination "id=$DEVICE_ID" \
            -configuration Release \
            CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
        shell: bash
      - name: Compression
        working-directory: ./example
        run: |
          cd build/Build/Products/Release-iphonesimulator
          zip -r BitsBytes.zip BitsBytes.app
        shell: bash
      - name: Upload to SauceLabs
        working-directory: ./example
        run: |
          cd build/Build/Products/Release-iphonesimulator
          curl -u '${{ secrets.SUECELABS_USER }}:${{ secrets.SUECELABS_SECRET }}' --location --request POST 'https://api.eu-central-1.saucelabs.com/v1/storage/upload' --form payload=@'BitsBytes.zip' --form name='BitsBytes.zip' --form description='e2e test app' --silent --show-error
          
      - name: Trigger target repository workflow
        env:
          REPO_ACCESS_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $REPO_ACCESS_TOKEN" \
            https://api.github.com/repos/SAP/gigya-mobile-sdk-tests/dispatches \
            -d '{"event_type":"trigger_event_from_swift"}'
